<h1>Word Frequency Counter</h1>
<form action="/word_frequency">
  <div class='form-group'>
    <label for="string">Key Input:</label>
    <input id="string" name="key" class="form-control" type="string">
    <label for="string">String Input:</label>
    <input id="string" name="input_string" class="form-control" type="string">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
